<div class="flex flex-col w-screen h-screen">
  <app-title-bar />
  <div class="grow overflow-hidden">
    <p-splitter styleClass="w-full h-full" [panelSizes]="[66, 34]">
      <ng-template pTemplate>
        <div class="w-full h-full overflow-hidden">
          <app-files [rules]="rules"></app-files>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="w-full h-full overflow-hidden">
          <app-rules (onChange)="onRulesChanged($event)"></app-rules>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>
