<div class="flex items-center h-12 whitespace-nowrap">
  <div
    class="flex-1 overflow-hidden pl-4 h-full"
    style="--wails-draggable: drag"
    (dblclick)="toggleMaximize()"
  >
    <div class="flex items-center gap-2 h-full">
      <div class="h-6 w-6 min-w-6 bg-[url('/favicon.ico')] bg-contain bg-no-repeat"></div>
      <h1 class="text-lg leading-none font-medium">File Renamer</h1>
    </div>
  </div>
  <div class="pr-2">
    <p-button
      text="true"
      plain="true"
      icon="pi pi-language"
      tooltipPosition="bottom"
      (click)="langsMenu.toggle($event)"
    />
    <p-menu #langsMenu [model]="langsMenuItems" [popup]="true">
      <ng-template pTemplate="item" let-item>
        <app-menu-item [item]="item" [checked]="item.id === translateService.currentLang" />
      </ng-template>
    </p-menu>
    <p-button text="true" plain="true" icon="pi pi-palette" (click)="themeMenu.toggle($event)" />
    <p-menu #themeMenu [model]="themeMenuItems" [popup]="true">
      <ng-template pTemplate="item" let-item>
        <app-menu-item
          [item]="item"
          [checked]="item.label.toLowerCase() === themeService.theme"
          [translateKey]="'titleBar.theme.' + item.label"
        />
      </ng-template>
    </p-menu>
    @if (isFullscreen) {
      <p-button
        text="false"
        plain="true"
        [label]="'titleBar.exitFullscreen' | translate"
        (click)="fullscreen()"
      />
    } @else {
      <p-button
        [text]="isAlwaysOnTop ? false : true"
        plain="true"
        icon="pi pi-thumbtack"
        [pTooltip]="'titleBar.alwaysOnTop' | translate"
        tooltipPosition="bottom"
        (click)="setAlwaysOnTop()"
      />
      <p-button
        text="true"
        plain="true"
        icon="pi pi-expand"
        [pTooltip]="'titleBar.fullscreen' | translate"
        tooltipPosition="bottom"
        (click)="fullscreen()"
      />
      <p-button text="true" plain="true" icon="pi pi-minus" (click)="minimize()" />
      <p-button
        text="true"
        plain="true"
        icon="pi pi-window-{{ isMaximized ? 'minimize' : 'maximize' }}"
        (click)="toggleMaximize()"
      />
      <p-button text="true" plain="true" icon="pi pi-times" severity="danger" (click)="quit()" />
    }
  </div>
</div>
