<div class="flex flex-col h-full max-w-full min-w-60">
  <div class="py-1 x-toolbar-border-b">
    <div class="flex justify-between items-center pl-4 pr-2">
      <span class="font-medium">{{ 'rules.title' | translate }}</span>
      <div class="grow"></div>
      <p-button
        text="true"
        plain="true"
        icon="pi pi-trash"
        severity="contrast"
        (click)="removeSelectedRules()"
      />
      <p-button
        text="true"
        plain="true"
        icon="pi pi-plus"
        severity="contrast"
        (mouseenter)="ruleTypeMenu.toggle($event)"
      ></p-button>
      <p-menu #ruleTypeMenu [model]="ruleTypeMenus" [popup]="true">
        <ng-template pTemplate="item" let-item>
          <app-menu-item [item]="item" [translateKey]="'rules.' + item.label + '.name'" />
        </ng-template>
      </p-menu>
    </div>
  </div>
  <div class="grow overflow-y-auto">
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="x-rules-list py-2">
      @for (item of items; track item; let index = $index) {
        <div cdkDrag class="x-rules-list-item">
          <div *cdkDragPlaceholder class="x-rules-list-placeholder"></div>
          <div class="px-4 py-2 flex gap-4 items-center group">
            <div>
              <p-checkbox
                [binary]="true"
                [(ngModel)]="item.checked"
                (onChange)="onCheckBoxChange()"
              />
            </div>
            <div
              class="grow overflow-hidden space-y-1 cursor-move"
              [class.opacity-50]="!item.checked"
            >
              <div class="flex gap-4 items-center">
                <div class="italic flex gap-1">
                  {{ index + 1 }}.
                  <span class="font-medium">
                    {{ 'rules.' + item.rule.name + '.name' | translate }}
                  </span>
                </div>
                <div class="hidden group-hover:block space-x-3 opacity-60 whitespace-nowrap">
                  <i class="pi pi-pencil cursor-pointer text-sm" (click)="editRule(index)"></i>
                  <i class="pi pi-trash cursor-pointer text-sm" (click)="removeRule(index)"></i>
                </div>
              </div>
              <div class="line-clamp-2">
                {{ getDesc(item.rule) }},
                {{ getExtensionDesc(item.rule) }}
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

@if (visible) {
  <p-dialog
    [header]="'rules.' + editRuleType + '.name' | translate"
    [modal]="true"
    [(visible)]="visible"
  >
    <div>
      @if (editRuleType === 'Case') {
        <app-case-rule #ruleEditor [config]="editRuleConfig" />
      } @else if (editRuleType === 'Insert') {
        <app-insert-rule #ruleEditor [config]="editRuleConfig" />
      } @else if (editRuleType === 'Replace') {
        <app-replace-rule #ruleEditor [config]="editRuleConfig" />
      } @else if (editRuleType === 'Remove') {
        <app-remove-rule #ruleEditor [config]="editRuleConfig" />
      } @else if (editRuleType === 'Series') {
        <app-series-rule #ruleEditor [config]="editRuleConfig" />
      } @else if (editRuleType === 'NumberPadding') {
        <app-number-padding-rule #ruleEditor [config]="editRuleConfig" />
      } @else if (editRuleType === 'ID') {
        <app-id-rule #ruleEditor [config]="editRuleConfig" />
      } @else {
        <div class="h-16 flex justify-center items-center gap-3 text-xl">
          <i class="pi pi-info-circle"></i>
          The feature is coming soon.
        </div>
      }
    </div>

    <ng-template pTemplate="footer">
      <p-button label="Close" severity="secondary" (click)="visible = false" />
      <p-button label="OK" icon="pi pi-check" (click)="saveRule()" styleClass="mr-0" />
    </ng-template>
  </p-dialog>
}
