<div class="space-y-6 w-96">
  <div class="flex flex-col gap-2">
    <label for="text">Text to insert</label>
    <input
      type="text"
      id="text"
      pInputText
      [(ngModel)]="config.text"
      [pKeyFilter]="invalidFilenameChars"
    />
  </div>

  <div class="space-y-3">
    @for (item of insertTypes; track $index) {
      <div class="flex gap-4 items-center p-fluid">
        <p-radioButton
          name="insertType"
          [(ngModel)]="config.where"
          [value]="item"
          [inputId]="item"
        />
        <label for="{{ item }}">{{ item }}</label>
        @if (item === 'Position' && config.where === 'Position') {
          <div class="w-24">
            <p-inputNumber [(ngModel)]="config.position" showButtons min="0" class="!w-full" />
          </div>
          <div>
            <p-checkbox [(ngModel)]="config.positionFromEnd" [binary]="true" label="From end" />
          </div>
        } @else if (item === 'BeforeText' && config.where === 'BeforeText') {
          <input type="text" pInputText [(ngModel)]="config.beforeText" />
        } @else if (item === 'AfterText' && config.where === 'AfterText') {
          <input type="text" pInputText [(ngModel)]="config.afterText" />
        }
      </div>
    }
  </div>

  <div class="flex gap-4 items-center">
    <p-checkbox
      name="includeExtension"
      [(ngModel)]="config.includeExtension"
      [binary]="true"
      inputId="includeExtension"
    />
    <label for="includeExtension">Include extensions</label>
  </div>
</div>
