<div class="space-y-6">
  <div class="space-y-2">
    <div class="flex gap-2 items-center p-fluid">
      <label for="start" class="w-24">
        {{ 'rules.Series.start' | translate }}
      </label>
      <div class="w-24">
        <p-inputNumber
          [(ngModel)]="config.start"
          showButtons
          min="0"
          inputId="start"
          class="!w-full"
        />
      </div>
    </div>
    <div class="flex gap-2 items-center p-fluid">
      <label for="step" class="w-24">
        {{ 'rules.Series.step' | translate }}
      </label>
      <div class="w-24">
        <p-inputNumber
          [(ngModel)]="config.step"
          showButtons
          min="1"
          inputId="step"
          class="!w-full"
        />
      </div>
    </div>
    <div class="flex gap-2 items-center p-fluid">
      <label for="repeat" class="w-24">
        {{ 'rules.Series.repeat' | translate }}
      </label>
      <div class="w-24">
        <p-inputNumber
          [(ngModel)]="config.repeat"
          showButtons
          min="1"
          inputId="repeat"
          class="!w-full"
        />
      </div>
    </div>
    <div class="flex gap-2 items-center p-fluid">
      <label for="resetEvery" class="w-24">
        {{ 'rules.Series.resetEvery' | translate }}
      </label>
      <div class="w-24">
        <p-inputNumber
          [(ngModel)]="config.resetEvery"
          showButtons
          min="0"
          inputId="resetEvery"
          class="!w-full"
        />
      </div>
    </div>
    <div class="flex gap-2 items-center p-fluid">
      <label for="padding" class="w-24">
        {{ 'rules.Series.padding' | translate }}
      </label>
      <div class="w-24">
        <p-inputNumber
          [(ngModel)]="config.padding"
          showButtons
          min="0"
          inputId="padding"
          class="!w-full"
        />
      </div>
    </div>
    <div class="flex gap-2 items-center p-fluid">
      <label for="separator" class="w-24">
        {{ 'rules.Series.separator' | translate }}
      </label>
      <div class="w-24">
        <input
          type="text"
          id="separator"
          pInputText
          [(ngModel)]="config.separator"
          [pKeyFilter]="invalidFilenameChars"
        />
      </div>
    </div>
  </div>

  <div class="space-y-3">
    @for (item of seriesWheres; track $index) {
      <div class="flex gap-4 items-center p-fluid">
        <p-radioButton
          name="insertType"
          [(ngModel)]="config.where"
          [value]="item"
          [inputId]="item"
        />
        <label for="{{ item }}">
          {{ 'rules.Series.where.' + item | translate }}
        </label>
        @if (item === 'Position' && config.where === 'Position') {
          <div class="w-24">
            <p-inputNumber [(ngModel)]="config.position" showButtons min="0" class="!w-full" />
          </div>
        }
      </div>
    }
  </div>
</div>
